@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JokesWebApp by G.Pinheiro</h1>
    <p></p>
    <p><a>This is crud app is a test and a collection of jokes made with .Net.</a></p>
    <p>Made following Shad Sluiter tutorial <a href="https://youtu.be/BfEjDD8mWYg">here.</a></p>
</div>
